*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px; /* Base font size */
  line-height: 1.5;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

img {
  width: 100%;
  max-width: 100%;
}
