# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
/apps/client/src/routeTree.gen.ts
/apps/api/prisma/generated/zod/index.ts
/apps/api/prisma/generated/zod/index.d.ts