.Form {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;

  &___fixed {
    justify-content: center;
    backdrop-filter: blur(20px);
    background-color: transparent;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  &_input {
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    white-space: pre-wrap;
    width: 90%;
    max-width: 1000px;
    min-height: 40px;
    max-height: 124px;
    background-color: rgba(134, 142, 153, 0.1);
    border-radius: 17px;
    padding: 10px 20px;

    &[contenteditable]:empty::before {
      content: "Add a comment...";
      color: gray;
    }
  }

  &_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }
}

@media screen and (min-width: 768px) {
  .Form {
    justify-content: center;
    gap: 30px;
  }
}
