.Form {
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  width: calc(100% - 20px);
  margin-left: 20px;

  &___fixed {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    margin-left: 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &_input {
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    white-space: pre-wrap;
    width: 80%;
    max-width: 1000px;
    max-height: 124px;
    min-height: 40px;
    background-color: rgba(134, 142, 153, 0.1);
    border-radius: 20px;
    padding: 10px 20px;

    &[contenteditable]:empty::before {
      content: "Add a comment...";
      color: gray;
    }
  }

  &_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    height: 40px;
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }
}

@media screen and (min-width: 768px) {
  .Form {
    gap: 30px;
  }
}
